/bin/
/run/
/buildenv_*/
*.log
.test-caddy.log

# certs/: ignore everything except the intentional ripdev.io wildcard pair (+ README)
/certs/*
!/certs/README.md
!/certs/ripdev.io.crt
!/certs/ripdev.io.key
